#original{
    display: flex;
    justify-content: center;
}

#video{
    width: 50%;
}

#videosourcewrapper{
    display: flex;
    justify-content: center;
}

#buttons{
    display: flex;
    justify-content: flex-start;   
    margin: 30px;
    padding: 30px;
}
